<footer class="footer">
  <small>
    The <a href="http://192.168.17.128/"> SmartTools.com </a>
    by <a href="http://192.168.17.128/">SmartTools Inc</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Nosotros",   '/nosotros' %></li>
      <li><%= link_to "Contactenos", '/contacto' %></li>
      <li><a href="http://moodleinstitucional.uniandes.edu.co/course/view.php?id=1202">Partners</a></li>
    </ul>
  </nav>
</footer>
