<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
   <%= link_to "SmartTools", 'root_path', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inicio",   'root_path' %></li>
        <li><%= link_to "Nosotros",   'nosotros' %></li>
        <li><%= link_to "Ingresar", 'ingresar' %></li>
      </ul>
    </nav>
  </div>
</header>
